<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Image Processing API 🤓</title>
    <link
      rel="shortcut icon"
      href="http://127.0.0.1:3000/images/resize.png"
      type="image/x-icon"
    />
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="http://127.0.0.1:3000/assets/bootstrap5_1_3/css/bootstrap.min.css"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <!-- Axios handle api requests -->
    <script src="http://127.0.0.1:3000/assets/axios/axios.min.js"></script>
    <!-- custom js -->
    <script src="http://127.0.0.1:3000/javascripts/main.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="http://127.0.0.1:3000/stylesheets/style.css" />
  </head>

  <body>
    <header class="container py-4 pb-3 mb-4 border-bottom">
      <a
        href="/"
        class="d-flex align-items-center text-dark text-decoration-none"
      >
        <img
          src="http://127.0.0.1:3000/images/resize.png"
          class="me-3"
          width="50"
          height="50"
          alt="logo"
        />
        <span class="fs-4">Image Processing API</span>
      </a>
    </header>

    <main class="container py-4">
      <!-- Upload Image Section -->
      <section class="container my-5">
        <div
          class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
        >
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Image Processing API</h1>
            <p class="lead my-3">
              image processing API that resizes and saves images to user
              specifications when visiting a URL STARTED .
            </p>
            <div class="row d-flex align-items-center">
              <div class="col-auto">
                <label for="image-input" class="form-label visually-hidden"
                  >Default file input example</label
                >
                <input
                  class="form-control form-control-lg"
                  name="image-file"
                  type="file"
                  accept="image/*"
                  id="image-input"
                />

                <div class="form-text">
                  please select an image, allowed file types: jpg, jpeg, png.
                </div>
              </div>

              <div class="col-auto mb-4">
                <button
                  class="btn btn-primary btn-lg"
                  id="upload-image-btn"
                  disabled
                >
                  <i class="bi bi-upload"></i>
                  Upload
                </button>
              </div>

              <div class="row g-3">
                <div class="col-12">
                  <div
                    class="alert alert-success alert-dismissible fade show"
                    role="alert"
                    id="image-info-alert"
                    style="display: none"
                  >
                    <strong>Name:</strong>
                    <span id="image-name">resize.png</span> <br />
                    <strong>Size:</strong> <span id="image-size">12 kib</span> |
                    <strong>Type:</strong> <span id="image-type">png</span>
                    <br />
                    <strong>Dimensions:</strong>
                    <span id="image-dimensions">100x100</span>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                    style="display: none"
                    id="error-alert"
                  >
                    <strong>Error:</strong>
                    <span id="error-message">resize.png</span> <br />
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"
                    ></button>
                  </div>
                </div>
                <div class="col-2">
                  <!-- <label for="staticEmail2" class="visually-hidden">Email</label> -->
                  <input
                    type="text"
                    readonly
                    class="form-control-plaintext"
                    id="staticEmail2"
                    value="Need Help?"
                  />
                </div>
                <div class="col-3">
                  <button
                    id="modlaBtn"
                    type="submit"
                    class="btn btn-outline-danger mb-3"
                    data-bs-toggle="modal"
                    data-bs-target="#demoVideo"
                  >
                    <i class="bi bi-youtube"></i>
                    watch Demo
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-5 shadow-lg">
            <img
              src="http://127.0.0.1:3000/images/optimize_image.svg"
              class="d-block mx-lg-auto img-fluid"
              alt="intro image"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
        </div>
      </section>

      <!-- Image Processing Section -->
      <section class="container px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-md-8 text-center text-lg-start">
            <img
              src="http://127.0.0.1:3000/images/undraw_responsiveness.svg"
              class="mx-auto d-block"
              loading="lazy"
              alt="Preview Box"
              id="preview-box"
            />
          </div>
          <div class="col-md-4 mx-auto">
            <div class="p-4 p-md-5 border rounded-3 bg-light">
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
                id="form-error-alert"
                style="display: none"
              >
                <strong>Error:</strong>
                <span id="form-error-message">error message here</span> <br />
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              <div class="p-3 d-flex justify-content-center align-items-center">
                <i
                  class="bi bi-rulers"
                  style="font-size: 2rem; color: cornflowerblue"
                ></i>
                <h3 class="ms-3">Dimensions</h3>
              </div>
              <fieldset disabled id="fieldset">
                <div class="row mt-3">
                  <div class="col-md-5 mb-3">
                    <div class="form-group">
                      <label for="width">Width (px)</label>
                      <input
                        type="number"
                        class="form-control"
                        id="width"
                        placeholder="Width"
                        min="1"
                        name="width"
                        max="5000"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-2 mt-4">
                    <i class="bi bi-x" style="font-size: 1.5rem"></i>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="height">Height (px)</label>
                      <input
                        type="number"
                        class="form-control"
                        id="height"
                        placeholder="Height"
                        name="height"
                        min="1"
                        max="5000"
                        required
                      />
                    </div>
                  </div>
                </div>

                <button
                  class="w-100 btn btn-lg btn-primary mt-4"
                  type="button"
                  id="resize-btn"
                >
                  <i class="bi bi-bounding-box"></i>
                  Resize
                </button>
              </fieldset>
              <hr class="my-4" />
              <small class="text-muted"
                >Enter the desired Height and Width and then click
                Resize.</small
              >
              <div
                class="alert alert-success alert-dismissible fade show mt-2"
                role="alert"
                id="form-error-alert"
                style="display: none"
              >
                <strong>Note:</strong>
                <span id="done-message"
                  >file stored in thumbnails/file_name.png</span
                >
                <br />
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Video Modal -->
      <div
        class="modal fade"
        id="demoVideo"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <button
              type="button"
              class="btn-close"
              id="video-btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>

            <div class="modal-body p-0">
              <div class="ratio ratio-16x9">
                <iframe
                  width="560"
                  height="315"
                  id="videoFrame"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="pt-3 mt-4 text-muted border-top">&copy; 2021</footer>
    </main>
    <script src="http://127.0.0.1:3000/assets/bootstrap5_1_3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
